
@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>


<form action="@ViewBag.path">
    <div class="row">
        @*<div>
            <input name="LogoutId" value="@ViewBag.logoutId" type="hidden" />
        </div>*@
        <div class="col-sm-3">
            <button type="submit" class="btn btn-info">确定</button>
        </div>
    </div>
</form>
